<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <div>
        <h1>Informações</h1>
        <p>
            <ul>
                <li>GitHub: <a href="https://github.com/MarchPy">https://github.com/MarchPy</a></li><br>
                <li>Repositório: <a href="https://github.com/MarchPy/Simple-site">https://github.com/MarchPy/Simple-site</a><br</li>
            </ul>
        </p>
    </div>
    <div>
        <h1>Tecnologia</h1>
        <ul>
            <li>Flask <a href="https://palletsprojects.com/p/flask/">https://palletsprojects.com/p/flask/</a></li>
        </ul>
        <img src="https://media.giphy.com/media/eCqFYAVjjDksg/giphy.gif" alt="gif">
    </div>
</body>
</html>
