<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site para programadores</title>
</head>
<body>
    <img src="https://i.ytimg.com/vi/azcrPFhaY9k/maxresdefault.jpg" alt="Imagem" width="950" height="500">  
    <h1>Site para programadores.</h1>
    <div>
        <h3>Linguagens de programação:</h2>
        <p>
            <ul>
                <li>Linguagem de programação <a href="https://www.python.org/downloads/" target="_blank">Python.</a> <br> É uma linguagem Open-Source de propósito geral usado bastante em data science, machine learning, desenvolvimento de web, desenvolvimento de aplicativos, automação de scripts, fintechs e mais.<br><br></li>
                <li>Linguagem de programação <a href="https://www.oracle.com/java/technologies/downloads/" target="_blank">Java.</a> <br> É possível criar aplicativos para dispositivos móveis, tais como smartphones e tablets. Em uma época em que tais dispositivos são comuns, essa linguagem ganha muita relevância. <br><br></li>
                <li>Linguagem de programação <a href="https://nodejs.org/en/download/" target="_blank">NodeJS.</a> <br> Software de código aberto, multiplataforma, baseado no interpretador V8 do Google e que permite a execução de códigos JavaScript fora de um navegador web.</li>
                
            </ul>
        </p>
    </div>
    <div>
        <h3>Sistemas operacionais:</h2>
        <p>
            <ul>
                <li><a href="https://ubuntu.com/download/desktop" target="_blank">Ubuntu</a><br> Ubuntu é um sistema operacional ou sistema operativo de código aberto, construído a partir do núcleo Linux, baseado no Debian e utiliza GNOME como ambiente de desktop de sua mais recente versão com suporte de longo prazo. Esta distribuição Linux é desenvolvida pela Canonical Ltd. <br><br></li>
                <li><a href="https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/" target="_blank">Debian</a><br> Debian, anteriormente chamado Debian GNU/Linux e hoje apenas Debian, é um sistema operacional composto inteiramente de software livre e mantido oficialmente pelo Projeto Debian. O projeto recebe, ainda, apoio de outros indivíduos e organizações de todo o mundo. <br><br></li>
                <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjBocK20az4AhWPu5UCHQT7CE0QFnoECAcQAQ&url=https%3A%2F%2Fwww.microsoft.com%2Fpt-br%2Fsoftware-download%2Fwindows10&usg=AOvVaw1U6iSyjwGMs4c6wvZDJUYM" target="_blank">Windows</a><br> Microsoft Windows é uma série popular de sistema operacional criada pela empresa Microsoft fundada por Bill Gates e Paul Allen. O Windows é um produto comercial e o preço de cada versão é diferente. Apesar de instalar um grande número de cópias ilegais, é o sistema operacional mais usado no mundo.</li>
            </ul>
        </p>
    </div>
    <div>
        <h1>Informações</h1>
        <p><ul><li><a href="http://127.0.0.1:5000/sobre">informações</a> sobre este site.</li></ul></p>
    </div>
</body>
</html>